registry=https://registry.npmjs.org

// Exist for local e2e testing
// Must have token so we can publish
// https://github.com/verdaccio/verdaccio/issues/212#issuecomment-308578500
//localhost:${VERDACCIO_RANDOM_PORT}/:_authToken="e2e-verdaccio-cli-test-fake-token"
